/* CartItem.css */
.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.cart-item-image {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-right: 1rem;
}

.test {
  background-color: #fff;
  border: dotted;
}

.columns {
  display: flex;
  flex-direction: row;
  width: 80%; /* adjust to your desired width */
  max-width: 1200px; /* adjust to your desired maximum width */
}

.left-column {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap; /* wrap items onto multiple lines */
  justify-content: center;
  min-width: 60%;

}

.right-column {
  flex: 0 0 0%; /* adjust to your desired width */
  padding: 20px;
  min-width: 35%;
  min-height: 500px;
  position: sticky;
  top: 0;
}


.checkout-div {
  flex-grow: 1;
  padding: 0.8rem;
  border: 1;
  border-radius: 4px;
  font-size: 1rem;
  min-width: 300px;
}
