:root {
  --primary-color: #0070f3;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: #fff;
  color: #000;
}

/* Center the main container and make it span the entire screen */
.main-container {
  display: flex;
  justify-content: center;
  align-items: below;
  width: 100%;
  height: 100%;
}

/* Divide the main container into two columns */
.main-container .columns {
  display: flex;
  flex-direction: row;
  width: 80%; /* adjust to your desired width */
  max-width: 1200px; /* adjust to your desired maximum width */
}

/* Style the left column */
.left-column {
  flex: 0 0 30%; /* adjust to your desired width */
  padding: 20px;
  max-width: 200px;
  min-height: 500px;
  position: sticky;
  top: 0;
}

.left-column input[type="checkbox"] {
  margin-right: 5px;
}

.left-column label {
  display: block;
  margin-bottom: 10px;
}

.left-column select[multiple] {
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 5px 10px;
  font-size: 16px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  height: 150px;
}

.left-column fieldset {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.left-column fieldset legend {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.left-column fieldset label {
  display: block;
  margin-bottom: 5px;
}

.left-column fieldset input[type="checkbox"] {
  margin-right: 5px;
}

/* Style the right column */
.main-container .right-column {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap; /* wrap items onto multiple lines */
  justify-content: center;
}

/* Example card styles for the right column */
.card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  width: calc(33.33% - 20px); /* adjust to your desired card width and spacing */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  display: inline-block;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  background-color: #0058b7;
  color: #fff;
}

.btn-back {
  display: inline-block;
  background-color: #f4f4f4;
  color: #333;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  font-size: 0.8rem;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 1.3rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0047ab;
  color: #fff;
  padding: 1rem;
  border-bottom: 5px solid #fff;
}

.logo {
  text-align: center;
  margin-bottom: 0.5rem;
}

.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.links a {
  margin: 0 0.5rem 0 0.5rem;
  color: #fff;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-form {
  display: flex;
  align-items: center;
}

.search-input {
  flex-grow: 1;
  padding: 0.8rem;
  border: 0;
  border-radius: 4px;
  font-size: 1rem;
}

.search-button {
  padding: 0.7rem 1rem;
  margin-top: 1rem;
  margin-left: 0.5rem;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0058b7;
}

.search-input:focus,
.search-button:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 0 2px rgba(0, 112, 243, 0.2);
}

.filter-container {
  background-color: #eee; /* example background color */
  padding: 10px;
  position: sticky;
  top: 20px; /* adjust to your desired distance from the top */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  display: block;
}

.repo-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.repo-list li {
  margin: 2rem 0;
}

.repo-list a {
  display: block;
  background-color: #fff;
  color: #333;
  padding: 1rem;
  border-radius: 4px;
  text-decoration: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.book-image {
  width: 300;
  height: 300;
}

.book-list a:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.book-list h3 {
  margin: 0;
  font-size: 1.5rem;
}

.book-list p {
  margin: 0;
  color: #666;
  font-size: 1.2rem;
}

.book-details {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  color: #999;
}

.book-details span {
  display: flex;
  align-items: center;
}

.repo-details svg {
  margin-right: 0.5rem;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: blue;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

.card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1rem;
  margin: 1rem;

  background-color: #fff;
  color: #333;
}

.card-expanded {
  background-color: #fff;
  border-radius: 8px;
  padding: 24px;
  width: 80%;
  max-width: 400px;
}

.main-container .right-column-expanded {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 100vh;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  height: 50vh; /* adjusts height of the div to take up full viewport height */
}

.user-button {
  margin: 0 auto;
  display:block;
}