name: Playwright Integration Tests
on:
  push:
    branches:
      - "*"
jobs:
  test:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Install dependencies
        run: cd next-webstore && npm ci
      - name: Install Playwright Browsers
        run: cd next-webstore && npx playwright install chromium --with-deps
      - name: Run Playwright tests
        working-directory: ./next-webstore
        env:
          NEXT_PUBLIC_ENVIRONMENT: development
          NEXT_PUBLIC_ENVIRONMENT_URL: http://localhost:3000
        run: npx playwright test
      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: playwright-report
          path: next-webstore/playwright-report/
          retention-days: 1
